<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Books</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .card {
        padding: 1em;
        max-width: 250px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
</style>
<body>
    <section id="books-section" class="m-5 p-5">
        <div class="wrapper container-xl justify-content-center align-content-center">
            <h2>Browse Books</h2>
            <div id="books-container" class="row mt-5"></div>
        </div>
    </section>
</body>
<script>
    const $ = (selector) => document.querySelector(selector);
    const fetchBooks = async () => {
        const res = await fetch('http://localhost:3000/book/getBooks');
        const data = await res.json();
        return data;
    };

    const cardComponent = (book) => {
        const { bookName, authorName, pages, quantity } = book;
        return (
            `
            <div class="card col-md-4 col-sm-6 m-2">
                <div class="card-body">
                    <h5 class="card-title">${bookName}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Author: ${authorName}</h6>
                    <p class="card-text mb-0">Pages: ${pages}</p>
                    <p class="card-text">Quantity: ${quantity}</p>
                    <a href="#" class="card-link">Add to Cart</a>
                </div>
            </div>
            `
        );
    };

    const addContent = async () => {
        const allBooks = await fetchBooks();
        console.log('allBooks: ', allBooks);
        const bookCards = allBooks.map(book => cardComponent(book)).join('');
        console.log('bookCards: ', bookCards);
        const booksContainer = $('#books-container');
        booksContainer.innerHTML = bookCards;
    };

    addContent();
    
</script>
</html>